* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #fefefe;
  color: black;
  min-height: 100%;
}

.header-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 10%;
  height: 10vh;
}

.header-encabezado-logo {
  font-size: 2rem;
  font-weight: 700;
}

.menu-nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.menu-nav-li-item a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.menu-nav-li-item a:hover {
  color: #ff7f11;
  border-bottom: 1px solid #ff7f11;
}

.carousel-inner{
  width: 100vw;
  height: 450px;
}

.carousel-item img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  filter: brightness(125%);
  object-fit: center;
}

.seccion-uno{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-uno-contenedor {
  gap: 20px;
}

.contenedor-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
}

.contenedor-item img{
  width: 150px;
  object-fit: fill;
}
.contenedor-item.uno{
  color: white;
  background-color: #FF101F;
  background: linear-gradient(to right, #FF101F,#ff10208a);
}

.contenedor-item.dos{
  color: white;
  background-color: #FF006E;
  background: linear-gradient(to right, #FF006E,#ff006fad);
}

.contenedor-item.tres{
  color: white;
  background-color: #f7c59f; 
  background: linear-gradient(to right, #f7c59f,#f7c59f7a);
}


/* SECCION DOS */
/* .seccion-dos {
  width: 720px;
  height: 55vh;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
} */

.seccion-dos{
  width: 100vw;
  height: 100vh;
  background-color: #495867;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-dos-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* PIE DE PAGINA */
.header {
  width: 100vw;
  height: 55vh;
  /* background-color: rgb(255, 239, 196); */
}

.pie {
  width: 100vw;
  height: 20vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
}

.pie a {
  text-decoration: none;
  color: #9b9b90;
}

.derecho a:hover {
  color: white;
}

.izquierdo a:hover {
  color: white;
  /* color: #FF7F11; */
}

.pie-tarjeta {
  width: auto;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pie-tarjeta-centro {
  gap: 30px;
  background-color: blue;
}

/* PRODUCTOS */
.header-productos {
  width: 100vw;
  height: 10vh;
}

.main-productos {
  margin: 0 5%;
}

.accordion-button {
  background-color: black;
  color: white;
}

.accordion-tarjeta {
  border: 1px solid rgba(0, 0, 0, 0.205);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.accordion-tarjeta-imagen {
  background-image: url(../img/productos/WhatsApp\ Image\ 2023-12-20\ at\ 19.38.29.jpeg);
  object-fit: fill;
  width: auto;
  height: auto;
}

.productos-footer {
  position: relative;
  bottom: 0;
}

@media (width <= 750px) {
  .header-encabezado {
    flex-direction: column;
    height: 15vh;
    margin-top: 0;
  }

  .seccion-uno {
    margin-top: 100px;
  }

  /* PRODUCTOS */
  .contenedor-productos {
    padding: 0 5%;
  }
}
