* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #fefefe;
  color: black;
  min-height: 100%;
}

a{
  text-decoration: none;
  color: unset;
}

.header-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 10%;
  height: 10vh;
}

.header-encabezado-logo {
  font-size: 2rem;
  font-weight: 700;
}

.menu-nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.menu-nav-li-item a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}

.menu-nav-li-item a:hover {
  color: #ff7f11;
  border-bottom: 1px solid #ff7f11;
}

.carousel-inner{
  width: 100vw;
  height: 450px;
}

.carousel-item img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  filter: brightness(125%);
  object-fit: center;
}

.index-seccion-uno{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-uno{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-uno-contenedor {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.contenedor-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
}

.contenedor-item img{
  width: 14rem;
  object-fit: cover;
}
.contenedor-item.uno{
  color: white;
  background-color: #FF101F;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background: linear-gradient(to right, #FF101F,#ff10208a);
}

.contenedor-item.dos{
  color: white;
  background-color: #FF006E;
  border-top-right-radius: 10%;  
  border-bottom-left-radius: 10%;
  background: linear-gradient(to right, #FF006E,#ff006fad);
}

.contenedor-item.tres{
  color: white;
  background-color: #f7c59f; 
  background: linear-gradient(to right, #f7c59f,#f7c59f7a);
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

.seccion-dos{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background: linear-gradient(to top, black,white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-dos-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* PIE DE PAGINA */
.header {
  width: 100vw;
  height: 55vh;
  /* background-color: rgb(255, 239, 196); */
}

.pie {
  width: 100vw;
  height: 25vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
}

.pie a {
  text-decoration: none;
  color: #9b9b90;
}

.derecho a:hover {
  color: white;
}

.izquierdo a:hover {
  color: white;
  /* color: #FF7F11; */
}

.pie-tarjeta {
  width: auto;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pie-tarjeta-centro {
  gap: 30px;
  background-color: blue;
}

/* PRODUCTOS */
.header-productos {
  width: 100vw;
  height: 10vh;
}

.productos-seccion-uno{
  width: 100vw;
  height: auto;
  margin-top: 50px;
}

.main-productos {
  margin: 0 5%;
}

.accordion-button {
  background-color: black;
  color: white;
}

.accordion-tarjeta {
  border: 1px solid rgba(0, 0, 0, 0.205);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.accordion-tarjeta-imagen {
  background-image: url(../img/productos/WhatsApp\ Image\ 2023-12-20\ at\ 19.38.29.jpeg);
  object-fit: fill;
  width: auto;
  height: auto;
}

.productos-footer {
  margin-top: 20px;
}


/* PAGINA CONTACTO */
.section-uno .boton {
  color: white;
  background-color: #ff7f11;
  margin-top: 10px;
}

.form-contenedor-contacto{
  gap: 8px;
}

/* PAGINA ARMA TU PEDIDO */
  .pedido-seccion-uno{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
  }

  .pedido-contenedor-seccion-uno{
    padding: 20px 5% 20px 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
  }

  .pedido-seccion-uno-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10%;
    border: 1px solid;
    width: 23%;
    background-color: rgba(222, 184, 135, 0.226)
  }

  .pedido-seccion-uno-item img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    object-fit: cover;
    filter: brightness(115%);
  }

  .pedido-seccion-uno-item>div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* PAGINA REGALO */

  .regalo-section-uno{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
  }

  .regalo-pedido{
    padding: 20px 10% 0 10%;
    width: 100%;
    height: 100%;
  }

  .regalo-footer{
    height: 30vh;
  }


@media (width <= 1220px){
  .carousel-inner{
    width: 100vw;
    height: 350px;
  }
  
  .seccion-uno-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 20px;
  }

  .contenedor-item{
    width: 100%;
    height: 150px;
  }

  .contenedor-item img{
    width: 100px;
    height: 120px;
  }

  .seccion-dos-contenedor img{
    display: none !important;
  }

  .pedido-contenedor-seccion-uno{
    width: max-content;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .pedido-seccion-uno-item{
    flex-direction: row;
    gap: 60px;
    padding: 20px;
    width: 80vw;
    border-radius: 0%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
  }

  .pedido-seccion-uno-item>div{
    justify-content: center;
    align-items: self-start;
  }

}

@media (width <= 770px) {
  .header-encabezado {
    flex-direction: column;
    height: 15vh;
    margin-top: 0;
  }

  .header-encabezado-logo{
    padding-left: 30px;
  }

  .seccion-hero{
    margin-top: 40px;
  }

  .seccion-uno {
    margin-top: 20px;
  }

  .contenedor-item img{
    display: none !important;
  }

  .index-seccion-uno{ 
    margin-top:0px;
  }

  /* PRODUCTOS */
  .contenedor-productos {
    padding: 0 5%;
  }

  /* PEDIDO */
  .pedido-seccion-uno{
    margin-top: 50px;
  }
}

@media (width <= 770px) and (height <= 675px){
  .seccion-hero{
    display: none !important;
  }

  .index-seccion-uno{
    margin-top: 40px;
  }
  
  .seccion-dos{
    padding: 40px;
  }


}

@media (width <= 640px) {
  .menu-nav-ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seccion-hero{
    display: none !important;
  }

  /* PEDIDO */
  .pedido-seccion-uno{
    padding: 0 10% 0 10%;
  }

  .header-productos{
    height: 325px;
    border-bottom: 1px solid;
  }

  main{
    margin-top: 20px;
  }

}


@media (width <= 600px){
  .pedido-seccion-uno-item{
    flex-direction: column;
    width: 80vw;
    border-radius: 0;
    padding: 40px;
    align-items: center;
    background-color: darkkhaki;
  }

  .pedido-seccion-uno-item>div{
    justify-content: center;
    align-items: center;
  }

  .header-productos{
    height: 325px;
    border-bottom: 1px solid;
  }

}

@media (width <= 300px){
  .pedido-seccion-uno-item>div>p{
    display: none !important;
    padding: 0px;
  }

 }



