* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Oswald", sans-serif;
    background-color: #fefefe;
    color: black;
    min-height: 100%;
  }
  
  a{
    text-decoration: none;
    color: unset;
  }

  
.header-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 10%;
  height: 10vh;

  .header-encabezado-logo {
      font-size: 2rem;
      font-weight: 700;
  }

  .menu-nav-ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      list-style-type: none;

      .menu-nav-li-item a{
          text-decoration: none;
          color: black;
          font-size: 1.25rem;
      }

      & a:hover{
        color: #ff7f11;
        border-bottom: 1px solid #ff7f11; 
      }
    }
}

.carousel-inner{
  width: 100vw;
  height: 450px;

.carousel-item img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    filter: brightness(125%);
    object-fit: center;
  }
}

.index-seccion-uno{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

    .seccion-uno-contenedor {
      display: flex;
      align-items: stretch;
      gap: 20px;

      .contenedor-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px 20px;

        img{
          width: 14rem;
          object-fit: cover;
        }
      }

      .contenedor-item .uno{
        color: white;
        background-color: #FF101F;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        background: linear-gradient(to right, #FF101F,#ff10208a);
        
      } 

      .contenedor-item.dos{
        color: white;
        background-color: #FF006E;
        border-top-right-radius: 10%;  
        border-bottom-left-radius: 10%;
        background: linear-gradient(to right, #FF006E,#ff006fad);
      }
      
      .contenedor-item.tres{
        color: white;
        background-color: #f7c59f; 
        background: linear-gradient(to right, #f7c59f,#f7c59f7a);
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
      }
    }
  } 

  .seccion-uno{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }